@import url("https://use.typekit.net/ira7wdv.css");
@import url("https://use.typekit.net/ira7wdv.css");

*{
  margin: 0;
  padding: 0;
  font-family: refrigerator-deluxe, sans-serif;
  box-sizing: border-box;
}

.form_container {
  display: flex;
  justify-content: center;
  margin: 30px;
  height: 80px;
}

#contactForm input {
  width: 300px;
  height: 30px;
}

#contactForm button {
  margin-top: 10px;
  height: 30px;
  width: 60px;
  font-weight: 800;
  background-color: #546de5;
  border: none;
}

h1 {
  padding: 20px;
  font-family: gill-sans-nova-inline, sans-serif;
  font-weight: 500;
  color: #1e272e;
  font-size: 4rem;
  text-align: center;
}

.resultsContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.results {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  padding: 20px;
  margin: 5px;
  width: 300px;
  color: #1e272e;
  background-color: #778beb;
  text-decoration: none;
  border: none;
}

.detailsContainer {
  width: 70%;
}

.details_result {
  margin-top: 30px;
  max-width: 700px;
}
.going_back_link {
  text-decoration: none;
  color: blue;
}
.game_name{
  margin: 20px 0 20px 0;
}
.details_description {
  margin: 20px 0 20px 0;
}

.background-image {
  width: 100%;
  height: auto;
}

.error {
  color: red;
  display: none;
}
.loading_container {
  width: 100%;
}
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: black;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}